@media screen and (min-width: 1240px) {
    .h-xl-75 {
        height: 500px;
    }
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.follow {
    margin: -18px 30px;
}

.bottom-text {
    margin: -17px 0 !important;
    right: 100px;
}

.bg-f1f1f1 {
    background: #f1f1f1;
}

.footer h6 {
    color: darkgray;
}

.footer p, a {
    font-size: 13px!important;
    color: black;
}
